<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnlineStore.MVP.Presenters.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OnlineStore.MVP.Presenters.Common.Settings>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingIn" serializeAs="String">
                <value>False</value>
            </setting>
        </OnlineStore.MVP.Presenters.Common.Settings>
    </userSettings>
</configuration>